* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Impact;
  background-color: aliceblue;
}

.displayPic {
  max-width: 200px;
  max-height: 200px;
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
}


.itemList {
  display: grid;
  margin:5rem auto;
  gap:2rem;
  align-items: center;
  width: 70vw;
}

@media screen and (min-width:600px) {
  .itemList {
    grid-template-columns: repeat(3,1fr);
  }  
}

.item {
  background-color: white;
  text-align: center;
  border: 5px;
  font-family: monospace;
  padding: 2rem;
}

.item h3 {
  margin: 1rem 0 0.5rem 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}